//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;



	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}

.btn {
	display: inline-flex;
	position: relative;
	flex: 0 0 auto;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	width: auto;
	overflow: hidden;
	background: $background-color-button;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	color: $text-color-btn;
	border-radius: 10px;
	border: 2px solid $border-color-button;
	@include adaptiveValue("width", 500, 280);
	@include adaptiveValue("min-height", 80, 50);
	padding: rem(0) rem(20);
	@include adaptiveValue("font-size", 24, 18);
	&_popup {
		width: rem(400);
	}




	@media (any-hover: hover) {
		&:hover {

		}
	}
}
