//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn
//актуализирован 10/08/22 1845 - стили дефолтной кнопки

.btn {
	display: inline-flex;
	position: relative;
	flex: 0 0 auto;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	align-self: center;
	overflow: hidden;
	min-width: rem(270);
	margin: 0 auto;
	& span {
		display: block;
		margin: auto;
	}
}

//-------------------custom buttons properties-------------------

.btn {
	@include adaptiveValue("font-size", 22, 14, 0, 1200);
	color: $text-color-btn;
	font-weight: 600;
	text-transform: uppercase;
	@include adaptiveValue("width", $button-width-pc, $button-width-mob, 2, 1200, 577);
	@include adaptiveValue("height", $button-height-pc, $button-height-mob, 0, 1200);
	height: 100%;
	padding: rem(0) rem(20);
	background-color:  $background-color-button-major;
	border-radius: 5px;
	animation: breathe 2.5s infinite forwards;

	@media (any-hover: hover){
		&:hover{
			background-color: $background-color-button-active;
			border: 1px solid rgba($color: $border-color-button, $alpha: .5);
			animation: none;
		}
	}

	@media (max-width:$mobileSmall){
		width: 80%;
	}

	&_popup, &_consult, &_partners, &_contacts {
		width: 100%;
	}
	// ripple effect
	& span.ripple {
		position: absolute;
		background: $background-color-major;
		transform: translate(-50%, -50%);
		pointer-events: none;
		border-radius: 50%;
		animation: ripplesAnimate .5s linear;
	}
}




