// общие элементы, блоки, текстовые стили




// ------------------------------- стили повторяющихся текстовых элементов --------------------------------------------------

._page-title {
	display: inline-block;
	font-style: normal;
	font-weight: 700;
	line-height: 125%;
	@include adaptiveValue("font-size", 60, 26, 1200, 320, 1);
	color: $text-color-secondary;
	text-transform: uppercase;
	&:not(:last-child) {
		margin-bottom:  rem(50);
		@media (max-width:$mobile){
			margin-bottom:  rem(30);  
		}
	}
}

._page-subtitle {
	display: inline-block;
	font-style: normal;
	//font-weight: 500;
	line-height: 125%;
	@include adaptiveValue("font-size", 24, 16, 1200, 320, 1);
	color: $text-color-secondary;
	//text-shadow: 0px 0px 7px rgba(0, 0, 0, .8);
	&:not(:last-child) {
		margin-bottom:  rem(70);
		@media (max-width:$mobile){
			margin-bottom:  rem(40);  
		}
	}
}

._section-title {
	position: relative;
	line-height: 125%;
	display: inline-block;
	@include adaptiveValue("margin-bottom", 150 , 80, 1200, 320, 1);
	@include adaptiveValue("font-size", 46, 24, 1200, 320, 1);
	transition: opacity .5s ease, transform .5s ease;
	z-index: 1;
	//transform: translateX(-200%);
	color: $text-color-accent;
	font-weight: 500;
	& span {
		position: relative;
		display: inline-block;
		font-weight: 600;
		color: $background-color-major;
		&::before{
			content: '';
			position: absolute;
			width: 106%;
			height: 100%;
			top: 0;
			left: -3%;
			background: rgb(200, 60, 60);
			z-index: -1;
			border-radius: rem(5);
		}
	}
}

// стиль при доскроле
._watcher-view ._section-title {
		//transform: translateX(0);
		transition: opacity .5s ease, transform .5s ease;
}


// ------------------------------- стили типовых СЕКЦИЙ --------------------------------------------------




section{
	position: relative;
	overflow: hidden;
	&:not(:first-child) {
		@include adaptiveValue("padding-top", 150 , 80, 1200, 320, 1);
		@include adaptiveValue("padding-bottom", 150 , 80, 1200, 320, 1);
	}
	&:nth-child(even){
		position: relative;
		background-color: $background-color-major;
		color: $text-color-major;
		@include adaptiveValue("padding-top", 130 , 60, 1200, 320, 1);
		@include adaptiveValue("padding-bottom", 130 , 60, 1200, 320, 1);
		& ._section-title{
			color: $text-color-major;
		}
	}
	&:nth-child(odd){
		color: $text-color-secondary;
		&:not(:first-child) {
			background-color: rgba($color: $background-color-secondary, $alpha: 1);
			-webkit-mask-image:
			/* top mask PNG/SVG image */
			url('@img/mask_top.png'),
			linear-gradient(#fff, #fff),
			/* bottom mask PNG/SVG image */
			url('@img/mask_bottom.png');
			-webkit-mask-size:
			/* 96px is top mask height */
			1920px 101px,
			/* 192px is top mask height + bottom mask height */
			1920px calc(100% - 200px),
			/* 96px is bottom mask height */
			1920px 101px; 
			-webkit-mask-repeat: no-repeat;
	 		/* 96px is top mask height */
			-webkit-mask-position: center top, center 100px, center bottom;
			//font-weight: 500;
			@media (max-width:$mobile){
				-webkit-mask-size:
				/* 96px is top mask height */
				1920px 76px,
				/* 192px is top mask height + bottom mask height */
				1920px calc(100% - 150px),
				/* 96px is bottom mask height */
				1920px 76px;
			 	-webkit-mask-repeat: no-repeat;
				/* 96px is top mask height */
			 	-webkit-mask-position: left top, center 75px, left bottom; 
			}
		}	
	}
	&:first-child{
			-webkit-mask-image:
			/* top mask PNG/SVG image */
			url('@img/mask_top.png'),
			linear-gradient(#fff, #fff),
			/* bottom mask PNG/SVG image */
			url('@img/mask_bottom.png');
			-webkit-mask-size:
			/* 96px is top mask height */
			1920px 0px,
			/* 192px is top mask height + bottom mask height */
			1920px calc(100% - 100px),
			/* 96px is bottom mask height */
			1920px 101px; 
			-webkit-mask-repeat: no-repeat;
	 		/* 96px is top mask height */
			-webkit-mask-position: center top, center 0px, center bottom;
			@media (max-width:$mobile){
				-webkit-mask-size:
				/* 96px is top mask height */
				1920px 0px,
				/* 192px is top mask height + bottom mask height */
				1920px calc(100% - 75px),
				/* 96px is bottom mask height */
				1920px 76px;
			}
	}
}

// ------------------------------- стили типовых БЛОКОВ --------------------------------------------------


.site-logo {
	@include adaptiveValue("width", 180 ,130, 1200, 320, 1 );
	@include adaptiveValue("height",55 , 35, 1200, 320, 1);
	border-radius: 10px;
	// .site-logo__item
	&__item {
		position: relative;
		display: inline-block;
		width: 100%;
		//max-width: rem(200);
		height: 100%;
		//background:  url("@img/logo_GMA_full_redwhite.png") 0% 50% / contain no-repeat;
		border-radius: 10px;

	}
}

.tel-block {
	// .tel-block__list
	&__list {
		display: grid;
	}
	// .tel-block__list-item
	&__list-item {
	}
	// .tel-block__link
	&__link {
		position: relative;
		display: block;
		transition: transform .2s;
		&:hover{
			transform: scale(1.1);
			transition: transform .2s;
		}
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
		}
		// .tel-block__link_whatsapp
		&_whatsapp {
		}
		// .tel-block__link_viber
		&_viber {
		}
		// .tel-block__link_telegram
		&_telegram {
		}
	}
	// .tel-block__tel
	&__tel {

	}
}


.socials__link {
	position: relative;
	display: inline-block;
	& img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		&.icon_hov {
			opacity: 0;
			transition: opacity .2s;
		}
	}
	&:hover{
		& img.icon_hov {
			opacity: 1;
			transition: opacity .2s;
		}
	}
}





[class*="__proposition"] {
	align-self: center;
	line-height: math.div(36 , 24);
	text-align: justify;
	padding-left: rem(15);
	border-left: 2px solid $border-color-other-3;
	@media (max-width:$mobile){
		border-left: 1px solid $border-color-other-3;  
	}
	@include adaptiveValue("font-size", 24, 14, 1200, 320, 1 );
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 50, 30, 1200, 320,1 );
	}
	span {
		color: $text-color-accent;
		font-weight: 600;
	}
}

// ------------------------------- стили keyframes --------------------------------------------------

@keyframes stars_rotate {
	from { transform: translate(-50%, -50%) rotate(0deg) ; }
	to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes opacity_fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes opacity_fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes ripplesAnimate {
	0% {
		width: 0;
		height: 0;
		opacity: .5;
	}
	100% {
		width: 600px;
		height: 600px;
		opacity: 0;
	}
}

@keyframes tilt {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-20deg);
	}
	40% {
		transform: rotate(20deg);
	}
	55% {
		transform: rotate(-15deg);
	}
	70% {
		transform: rotate(15deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shake {
	0%, 12% {
		transform: translate3d(0, 0, 0);
	}
	10%, 2%, 6% {
		transform: translate3d(-3px, 0, 0);
	}
	4%, 8% {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes shake2 {
	0%, 8% {
		transform: translate3d(0, 0, 0);
	}
	2%, 6% {
		transform: translate3d(-1px, 0, 0);
	}
	4% {
		transform: translate3d(1px, 0, 0);
	}
}

@keyframes breathe {
	0% {
		transform: scale(1);
	}

	40% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.01);
	}
	60% {
		transform: scale(1.0);
	}
	70% {
		transform: scale(1.005);
	}
	80% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1);
	}
}
