._page-title {
	display: inline-block;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	@include adaptiveValue("font-size", 60, 30, 992, 320, 1);
	color: $text-color-secondary;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
	&:not(:last-child) {
		margin-bottom:  rem(50);
		@media (max-width:$mobile){
			margin-bottom:  rem(30);  
		}
	}
}

._page-subtitle {
	display: inline-block;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
	@include adaptiveValue("font-size", 24, 16, 992, 320, 1);
	color: $text-color-secondary;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, .8);
	&:not(:last-child) {
		margin-bottom:  rem(70);
		@media (max-width:$mobile){
			margin-bottom:  rem(40);  
		}
	}
}

._section-title {
	position: relative;
	font-style: italic;
	line-height: 125%;
	display: inline-block;
	@include adaptiveValue("margin-bottom", 150 , 80, 1200, 320, 1);
	@include adaptiveValue("font-size", 38, 20);
	opacity: 0;
	transition: opacity 1s ease;
	& span {
		font-weight: 700;
	}
	&::after{
		content:'';
		position: absolute;
		width: 200%;
		height: 3px;
		bottom: -5px;
		right: 0;
		background-color: $background-color-other-2;
		border-radius: 5px;
		transform: translate(-100%, 0);
		transition: transform 1s ease-in;
	}
	@media (max-width: $mobile) {
	}
}

._watcher-view ._section-title{
	transition: opacity 1s ease;
	opacity: 1;
}

._watcher-view ._section-title::after {
	transform: translate(0, 0);
	transition: transform 1s ease;
}



._popup-title {
	font-style: italic;
	font-weight: 700;
	line-height: 125%;
	@include adaptiveValue("font-size", 38, 20);
}
