._page-title {
	display: inline-block;
	font-style: normal;
	font-weight: 700;
	line-height: 125%;
	@include adaptiveValue("font-size", 60, 26, 1200, 320, 1);
	color: $text-color-secondary;
	text-transform: uppercase;
	//text-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
	&:not(:last-child) {
		margin-bottom:  rem(50);
		@media (max-width:$mobile){
			margin-bottom:  rem(30);  
		}
	}
}

._page-subtitle {
	display: inline-block;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
	@include adaptiveValue("font-size", 24, 16, 1200, 320, 1);
	color: $text-color-secondary;
	//text-shadow: 0px 0px 7px rgba(0, 0, 0, .8);
	&:not(:last-child) {
		margin-bottom:  rem(70);
		@media (max-width:$mobile){
			margin-bottom:  rem(40);  
		}
	}
}

._section-title {
	position: relative;
	//font-style: italic;
	line-height: 125%;
	display: inline-block;
	@include adaptiveValue("margin-bottom", 150 , 80, 1200, 320, 1);
	@include adaptiveValue("font-size", 46, 24, 1200, 320, 1);
	opacity: 0;
	transition: opacity .5s ease, transform .5s ease;
	z-index: 1;
	transform: translateX(-200%);
	color: $text-color-accent;
	& span {
		position: relative;
		display: inline-block;
		font-weight: 600;
		color: $background-color-major;
		//isolation: isolate;
		&::before{
			content: '';
			position: absolute;
			width: 106%;
			height: 100%;
			top: 0;
			left: -3%;
			//color: $background-color-other-2;
			background: rgb(200, 60, 60);
			z-index: -1;
			//mix-blend-mode: difference;
			border-radius: rem(5);
		}
		//text-shadow: 1px 1px 1px rgb(255, 255, 255);
	}

	@media (max-width: $mobileSmall) {
		//text-align: justify;
	}
}

._watcher-view ._section-title {
		transform: translateX(0);
		transition: opacity .5s ease, transform .5s ease;
		opacity: 1;

	& span{

	}
}



._popup-title {
	font-style: italic;
	font-weight: 700;
	line-height: 125%;
	@include adaptiveValue("font-size", 38, 20, 1200, 320, 1);
}
