._page-title {
	display: inline-block;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	@include adaptiveValue("font-size", 60, 30, 992, 320, 1);
	color: $text-color-secondary;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
	&:not(:last-child) {
		margin-bottom:  rem(50);
		@media (max-width:$mobile){
			margin-bottom:  rem(30);  
		}
	}
}

._page-subtitle {
	display: inline-block;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
	@include adaptiveValue("font-size", 24, 16, 992, 320, 1);
	color: $text-color-secondary;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, .8);
	&:not(:last-child) {
		margin-bottom:  rem(70);
		@media (max-width:$mobile){
			margin-bottom:  rem(40);  
		}
	}
}

._section-title {
	font-style: italic;
	font-weight: 700;
	line-height: 125%;
	@include adaptiveValue("font-size", 38, 20);
	@media (max-width: $mobile) {
	}
}



._popup-title {
	font-style: italic;
	font-weight: 700;
	line-height: 125%;
	@include adaptiveValue("font-size", 38, 20);
}
