//актуализирован 05/02/22 20.56
//актуализирован 26/06/22 1845 - стили дефолтной формы


//</FORM>

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";


//<FORM>
// Снипет (HTML): form

//-------------------general form properties-------------------

.form {
	&__error {
		position: absolute;
		font-weight: 400;
		@include adaptiveValue("font-size", 12, 8);
		@include adaptiveValue("bottom", -15, -10);
		right: 0;
		z-index: 2;
		color: rgba(255, 255, 255, 1);
	}
	// .form__title
	&__title {
	}
	// .form__item
	&__item {
		position: relative;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",30 ,15 );
		}
	}
	// .form__input
	&__input {
	}
	// .form__textarea
	&__textarea {
	}
	// .form__submit
	&__submit button {
		width: 100%;
	}
}

//-------------------custom form properties-------------------

//popup form 

