// Заголовки, общие БЄМ блоки и проче...
section{
	&:not(:first-child) {
		@include adaptiveValue("padding-top", 150 , 80, 1200, 320, 1);
		@include adaptiveValue("padding-bottom", 150 , 80, 1200, 320, 1);
	}
	&:nth-child(even){
		position: relative;
		background-color: $background-color-major;

		// &::before{
		// 	content:'';
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	top: 0;
		// 	left: 0;
		// 	background: url('@img/contentImgs/pattern.webp') center center / cover no-repeat;
		// 	opacity: .5;
		// }
	}
	&:nth-child(odd){
		background-color: $background-color-secondary;
		color: $text-color-other-1;
		//font-weight: 500;
	}
}



@keyframes opacity_fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes opacity_fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes ripplesAnimate {
	0% {
		width: 0;
		height: 0;
		opacity: .5;
	}
	100% {
		width: 600px;
		height: 600px;
		opacity: 0;
	}
}

@keyframes tilt {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-20deg);
	}
	40% {
		transform: rotate(20deg);
	}
	55% {
		transform: rotate(-15deg);
	}
	70% {
		transform: rotate(15deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shake {
	0%, 12% {
		transform: translate3d(0, 0, 0);
	}
	10%, 2%, 6% {
		transform: translate3d(-3px, 0, 0);
	}
	4%, 8% {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes shake2 {
	0%, 12% {
		transform: translate3d(0, 0, 0);
	}
	10%, 2%, 6% {
		transform: translate3d(-3px, 0, 0);
	}
	4%, 8% {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes breathe {
	0% {
		transform: scale(1);
	}

	40% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.01);
	}
	60% {
		transform: scale(1.0);
	}
	70% {
		transform: scale(1.005);
	}
	80% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1);
	}
}
