// Заголовки, общие БЄМ блоки и проче...
section{
	position: relative;
	&:not(:first-child) {
		@include adaptiveValue("padding-top", 150 , 80, 1200, 320, 1);
		@include adaptiveValue("padding-bottom", 150 , 80, 1200, 320, 1);
	}
	&:nth-child(even){
		position: relative;
		background-color: $background-color-major;
		color: $text-color-major;
		// &::before{
		// 	content:'';
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	top: 0;
		// 	left: 0;
		// 	//background: url('@img/contentImgs/pattern.webp') center center / cover no-repeat;
		// 	opacity: .5;
		// }
		& ._section-title{
			color: $text-color-major;
		}
	}
	&:nth-child(odd){
		background-color: rgba($color: $background-color-other-1, $alpha: .9);
		color: $text-color-secondary;
		&:not(:first-child) {
			-webkit-mask-image:
			/* top mask PNG/SVG image */
			url('@img/верх.png'),
			linear-gradient(#fff, #fff),
			/* bottom mask PNG/SVG image */
			url('@img/низ.png');
			-webkit-mask-size:
			/* 96px is top mask height */
			1920px 101px,
			/* 192px is top mask height + bottom mask height */
			1920px calc(100% - 200px),
			/* 96px is bottom mask height */
			1920px 101px; 
			-webkit-mask-repeat: no-repeat;
	 		/* 96px is top mask height */
			-webkit-mask-position: center top, center 100px, center bottom;
			//font-weight: 500;
			@media (max-width:$mobile){
				-webkit-mask-size:
				/* 96px is top mask height */
				1920px 76px,
				/* 192px is top mask height + bottom mask height */
				1920px calc(100% - 150px),
				/* 96px is bottom mask height */
				1920px 76px;
			 	-webkit-mask-repeat: no-repeat;
				/* 96px is top mask height */
			 	-webkit-mask-position: left top, center 75px, left bottom; 
			}
		}	
	}
	&:first-child{
			-webkit-mask-image:
			/* top mask PNG/SVG image */
			url('@img/верх.png'),
			linear-gradient(#fff, #fff),
			/* bottom mask PNG/SVG image */
			url('@img/низ.png');
			-webkit-mask-size:
			/* 96px is top mask height */
			1920px 0px,
			/* 192px is top mask height + bottom mask height */
			1920px calc(100% - 100px),
			/* 96px is bottom mask height */
			1920px 101px; 
			-webkit-mask-repeat: no-repeat;
	 		/* 96px is top mask height */
			-webkit-mask-position: center top, center 0px, center bottom;
			@media (max-width:$mobile){
				-webkit-mask-size:
				/* 96px is top mask height */
				1920px 0px,
				/* 192px is top mask height + bottom mask height */
				1920px calc(100% - 75px),
				/* 96px is bottom mask height */
				1920px 76px;
			}
	}
}

.btn {
	&_contacts, &_contacts  {
		display: inline-block;
		flex: 1 1 30%;
	}
}


[class*="__proposition"] {
	align-self: center;
	line-height: math.div(36 , 24);
	text-align: justify;
	padding-left: rem(15);
	border-left: 2px solid $border-color-other-3;
	@media (max-width:$mobile){
		border-left: 1px solid $border-color-other-3;  
	}
	@include adaptiveValue("font-size", 24, 14, 1200, 320, 1 );
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 40, 1200, 320,1 );
	}
	span {
		color: $text-color-accent;
		font-weight: 600;
	}
}

[class*="__form-block"] {

}

@keyframes opacity_fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes opacity_fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes ripplesAnimate {
	0% {
		width: 0;
		height: 0;
		opacity: .5;
	}
	100% {
		width: 600px;
		height: 600px;
		opacity: 0;
	}
}

@keyframes tilt {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-20deg);
	}
	40% {
		transform: rotate(20deg);
	}
	55% {
		transform: rotate(-15deg);
	}
	70% {
		transform: rotate(15deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shake {
	0%, 12% {
		transform: translate3d(0, 0, 0);
	}
	10%, 2%, 6% {
		transform: translate3d(-3px, 0, 0);
	}
	4%, 8% {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes shake2 {
	0%, 8% {
		transform: translate3d(0, 0, 0);
	}
	2%, 6% {
		transform: translate3d(-1px, 0, 0);
	}
	4% {
		transform: translate3d(1px, 0, 0);
	}
}

@keyframes breathe {
	0% {
		transform: scale(1);
	}

	40% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.01);
	}
	60% {
		transform: scale(1.0);
	}
	70% {
		transform: scale(1.005);
	}
	80% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1);
	}
}
