.footer {


	// .footer__innerContainer
	&__innerContainer {
	}
	// .footer__content
	&__content {
		display: flex;
		flex-direction: column;	
		align-items: center;
		@include adaptiveValue("padding-top", 60 , 30, 1200, 320, 1 );
		@include adaptiveValue("padding-bottom", 75 , 40, 1200, 320, 1 );
	}
	&__rows {
		display: grid;
		row-gap: rem(30);
		width: 100%;
		font-weight: 600;
	}
	// .footer__row
	&__row {
		display: grid;
		justify-content: space-between;
		column-gap: rem(30);
		// .footer__row_top
		&_top {
			grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
			@include adaptiveValue("font-size",20 ,14, 1920, 320, 1 );
			row-gap: rem(30);
		}
		// .footer__row_bottom
		&_bottom {
			@include adaptiveValue("font-size",14 ,9, 1200, 320, 1  );
			grid-template-columns: 2fr 1fr;
			align-items: center;
			& a {
				text-decoration: underline;
			}
			& span {
				text-align: end;
			}
		}
	}
	// .footer__policies
	&__policies {

	}
	// .footer__logo
	&__logo {
		flex: 0 0 auto;
		//margin-bottom:  rem(20);
	}
	& .footer__logo .site-logo__item {
		background:  url("@img/logo_GMA_full.png") 0% 50% / contain no-repeat;
	}
	// .footer__policy
	&__policy {
		text-decoration: underline;
	}
	// .footer__addresses
	.footer {
		// .footer__addresses
		&__addresses, &__policies   {
			display: flex;
			flex-direction: column;

			justify-content: space-between;
			row-gap: rem(10);
			@media (max-width:$mobileSmall){
				width: 100%;
			}
			

		}
}
.addresses {
	//padding-top:  rem(10);
	text-align: end;
	@media (max-width:$mobileSmall){
		text-align: start;
	}
		// .addresses__item
		&__item {
			& a {
				text-decoration: underline;
			}
		}
		// .addresses__tel
		&__tel {

		}
		// .addresses__location
		&__location {
		}
		// .addresses__mail
		&__mail {
		}
	}
}

.addresses {
	// .addresses__item
	&__item {
	}
}
.tel-block {
	// .tel-block_footer
	&_footer {
			// .tel-block__list
		& .tel-block__list {
			justify-content: end;
			gap: rem(15);
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			@media (max-width:$mobileSmall){
				justify-content: start;  
			}
		}
		// .tel-block__list-item
		& .tel-block__list-item {
		}
		// .tel-block__link
		& .tel-block__link {
			width: rem(30);
			height: rem(30);
			// .tel-block__link_whatsapp
			&_whatsapp {
			}
			// .tel-block__link_viber
			&_viber {
			}
			// .tel-block__link_telegram
			&_telegram {
			}
		}
		// .tel-block__tel
		& .tel-block__tel {

		}
	}
}


.tel-block {
	// .tel-block_consult
	&_footer {
		// .tel-block__icons
		& .tel-block__icons {


		}
		// .tel-block__tel
		& .tel-block__tel {
			
		}
	}
}
