.footer {


	// .footer__innerContainer
	&__innerContainer {
	}
	// .footer__content
	&__content {
		display: flex;
		align-items: center;
		// height: 100%;
		@include adaptiveValue("height",$footer-height-pc ,$footer-height-mob, 768, 320, 1 );
		padding: rem(50) rem(0);
		
	}
	&__rows {
		width: 100%;
		//display: flex;
		// flex: 1 1 auto;
		//flex-direction: column;
		font-weight: 600;
		//justify-content: space-between;

	}
	// .footer__row
	&__row {
		display: flex;
		justify-content: space-between;
		column-gap: rem(30);
		flex-wrap: wrap;
		//align-items: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",50 ,30, 1200, 560, 1 );
		}
		// .footer__row_top
		&_top {
			@include adaptiveValue("font-size",20 ,14, 1920, 320, 1 );
			row-gap: rem(20);
		}
		// .footer__row_bottom
		&_bottom {
			@include adaptiveValue("font-size",14 ,10, 1200, 320, 1  );
			row-gap: rem(10);
			align-items: center;
			& a {
				text-decoration: underline;
			}
			& span {

			}
		}
	}
	// .footer__policies
	&__policies {

	}
	// .footer__logo
	&__logo {
		flex: 0 0 auto;
		//margin-bottom:  rem(20);
	}
	& .footer__logo .site-logo__item {
		background:  url("@img/logo_GMA_full.png") 0% 50% / contain no-repeat;
	}
	// .footer__policy
	&__policy {
		text-decoration: underline;
	}
	// .footer__addresses
	.footer {
		// .footer__addresses
		&__addresses, &__policies   {
			display: flex;
			flex-direction: column;

			justify-content: space-between;
			row-gap: rem(10);
			@media (max-width:$mobileSmall){
				width: 100%;
			}
			

		}
}
.addresses {
	padding-top:  rem(10);
	text-align: end;
	@media (max-width:$mobileSmall){
		text-align: start;
	}
		// .addresses__item
		&__item {
			& a {
				text-decoration: underline;
			}
		}
		// .addresses__tel
		&__tel {

		}
		// .addresses__location
		&__location {
		}
		// .addresses__mail
		&__mail {
		}
	}
}

.addresses {
	// .addresses__item
	&__item {
	}
}
.tel-block {
	// .tel-block_footer
	&_footer {
			// .tel-block__list
		& .tel-block__list {
			justify-content: end;
			gap: rem(15);
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			@media (max-width:$mobileSmall){
				justify-content: start;  
			}
		}
		// .tel-block__list-item
		& .tel-block__list-item {
		}
		// .tel-block__link
		& .tel-block__link {
			& img {
				@include adaptiveValue("width", 30 , 30 , 1200, 320, 1);
			}
			// .tel-block__link_whatsapp
			&_whatsapp {
			}
			// .tel-block__link_viber
			&_viber {
			}
			// .tel-block__link_telegram
			&_telegram {
			}
		}
		// .tel-block__tel
		& .tel-block__tel {

		}
	}
}


.tel-block {
	// .tel-block_consult
	&_footer {
		// .tel-block__icons
		& .tel-block__icons {


		}
		// .tel-block__tel
		& .tel-block__tel {
			
		}
	}
}
