// актуализирован 05/07/22 

// Стили Бургера
@import "base/menuBurger";

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: $background-color-secondary;
	background-color: transparent;
	// .header__outerContainer
	&__outerContainer {
	}
	// .header__content
	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: visible;
		@include adaptiveValue("column-gap",30 , 15, 768, 320, 1);
		@include adaptiveValue("height",$header-height-pc ,$header-height-mob, 768, 320, 1 );
	}
	
	// .header__logo
	& .header__logo .site-logo__item {
		background:  url("@img/logo_GMA_full_redwhite.png") 0% 50% / contain no-repeat;
	}
	// .header__menu
	&__menu {
	}
	// .header__links
	&__links {
		
	}
}



.header-links {
	
	flex: 0 0 auto;
	@media (max-width: 1200px){
		margin-left: auto;  
	}
	// .header-links__list
	&__list {
		display: flex;
		@include adaptiveValue("column-gap",20 , 10, 768, 320, 1);
		@include adaptiveValue("height",40 ,25, 1200,320,1 );
	}
	// .header-links__item
	&__item {
		display: inline-block;


		



	}
	&__link {
		display: inline-block;
		@include adaptiveValue("width",40 ,25, 1200,320,1 );
		@include adaptiveValue("height",40 ,25, 1200,320,1 );
			// .header-links__item_fb
			&_fb {


				background: url('@img/icons/fb.png') center center/ contain no-repeat;
				@media (any-hover: hover){
					&:hover{
						background: url('@img/icons/fb_hov.png') center center/ contain no-repeat;
					}
				}
			}
			// .header-links__item_insta
			&_insta {
				background: url('@img/icons/insta.png') center center/ cover no-repeat;
				@media (any-hover: hover){
					&:hover{
						background: url('@img/icons/insta_hov.png') center center/ contain no-repeat;
					}
				}
			}
		}
	// .header-links__lang
	&__lang {

	}
}
.lang {
	position: relative;
	// .lang__icon
	&__icon {
		max-height: rem(35);
		& path {
			fill: $text-color-accent;
			}
	}
	// .lang__options
	&__options {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(10);
		top: 150%;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: transparent;
		border-radius: 10px;
		padding:  rem(10) rem(5);
		mix-blend-mode:difference;
		color: $text-color-major;
		& span {
			color: $text-color-secondary;

		}
		visibility: hidden;
	}
	&:hover > .lang__options{
		//visibility: visible;
	}
}







._header-scroll {
	background-color: rgba($color: $background-color-major, $alpha: .8);
	backdrop-filter: blur(10px);
	border-bottom: 1px solid $background-color-other-2;
	//backdrop-filter: blur(10px);
	& .site-logo {
		background-color: transparent;
	}
	& .header__logo .site-logo__item {
		background:  url("@img/logo_GMA_full.png") 0% 50% / contain no-repeat;
	}

	//svg, path, rect

	& .header-subscribe__link {
		&_fb {
			background: url('@img/icons/fb.png') center right/ cover no-repeat;
			@media (any-hover: hover){
				&:hover{
					background: url('@img/icons/fb_hov.png') center right/ cover no-repeat;
				}
			}
		}
		// .header-links__item_insta
		&_insta {
			background: url('@img/icons/insta.png') center right/ cover no-repeat;
			@media (any-hover: hover){
				&:hover{
					background: url('@img/icons/insta_hov.png') center right/ cover no-repeat;
				}
			}
		}
	}
	& .header-links__list {

	}
	& .header__lang {
		//color: $text-color-links;
		.lang {
			&__icon {
				& path {
					fill: $text-color-major;
				}
			}
				// .lang__present
				&__present {
				}
				// .lang__options
				&__options {
					background-color: $background-color-secondary;
				}
		}
	}
	& .menu {
		&__body {
			color: $text-color-links;
			//font-weight: 600;
		}
		&__link {
			&:hover,
			&:active,
			&.active {
				//border: 2px solid $background-color-other-2;
				background-color: rgba($color: $background-color-other-1, $alpha: 1);
				color: $text-color-secondary;
				//transform: translateY(-3px);
				transition: transform .3s ease;
				//font-weight: 600;
				border: 2px solid transparent;
			}
		}
		&__icon {
			& span,
			&::before,
			&::after {
				background: $background-color-other-1;
			}
		}
	}

	
}

