// v2 190822

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	z-index: 10;
	// .header__outerContainer
	&__outerContainer {
	}
	// .header__content
	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("height",$header-height-pc ,$header-height-mob, 0, 768, 320 );
		overflow: visible;
	}
	
	// .header__logo
	& .header__logo .site-logo__item {
		background:  url("@img/logo_GMA_full_redwhite.png") 0% 50% / contain no-repeat;

	}
	// .header__menu
	&__menu {
		&:not(:last-child) {
		}
	}
	// .header__links
	&__links {
	
	}
}



.header-links {
	&:not(:last-child) {
	}
	@media (max-width: 1200px){
		margin-left: auto;
	}
	// .header-links__list
	&__list {
		display: flex;
		margin-left: rem(15);
	}
	// .header-links__item
	&__item {
		@include adaptiveValue("height",40 ,30, 0, 1200,320 );//отображение в ios
		& > * {
			height: 100%;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-right",20 , 10, 0, 768);
		}
	}
	.socials__link {
		@include adaptiveValue("width",40 ,30, 0, 1200,320 );
		
		//@include adaptiveValue("height",40 ,25, 0, 1200,320 );//отображение в ios
		border-radius: 4px;
		border: $background-color-major 1px solid;
		transition: transform .1s;
		@media (max-width:$mobile){
			//border-width: 1px;    
		}
		&:hover{
			background-color: rgba($color: $background-color-major, $alpha: .2);
			//transform: scale(1.05);
			transition: transform .1s ;
		}
		& img {
			&.icon_reg{
				display: inline-block;
				
			}
			&.icon_scrl{
				display: none;
			}
		}
	}
	// .header-links__lang
	&__lang {

	}
}


.lang {
	position: relative;
	vertical-align: middle;
	//border: 2px solid $border-color-button;
	//border-radius: 7px;
	@media (max-width:$mobile){
		//border-width: 1px;
	}
	&::before{
		content:'';
		position: absolute;
		width: 1px;
		height: 50%;
		top: 50%;
		left: 50%;

		background-color: $background-color-major;
		transform: translate(-50%, -50%);
	}
	&__box {
		display: flex;

	}
	// .lang__icon
	&__link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		padding: rem(5);
		@include adaptiveValue("width",40 ,28, 0, 1200,320);
		height: 100%;
		cursor: pointer;
		border: 1px solid transparent;
		& span {
			@include adaptiveValue("font-size", 20, 15, 0, 1200, 320 );
			line-height: 1.4;
			text-transform: uppercase;
			color: $text-color-secondary;
			font-weight: 500;
		}
		&:hover {
			//background-color: rgba($color: $background-color-major, $alpha: .2);
			//border: 1px solid $border-color-major;
			//border-radius: 4px;
			& span {
				font-weight: 600;
			}
			

		}
		@media (max-width:$mobileSmall){
			//border-width: 1px;
			//border-radius: 4px;
			//font-weight: 600;
		}
	}
}


._header-scroll {
	background-color: rgba($color: $background-color-major, $alpha: .8);
	backdrop-filter: blur(10px);
	border-bottom: 2px solid $border-color-major;
	& .header__logo .site-logo__item {
		background:  url("@img/logo_GMA_full.png") 0% 50% / contain no-repeat;
	}
	& .socials__link {
		border: $background-color-secondary 1px solid;
		@media (any-hover: hover){
			&:hover{
				background-color: rgba($color: $background-color-secondary, $alpha: 1);
				& img {
					&.icon_reg{
						display: inline-block;
					}
					&.icon_scrl{
						display: none;
					}
				}
			}
		}
		@media (max-width:$mobile){
		//	border-width: 1px;  
		}
		& img {
			&.icon_reg{
				display: none;
			}
			&.icon_scrl{
				display: inline-block;
			}
		}
	}

	& .lang  {
		border-color: $background-color-secondary;
		& span {
			color: $text-color-major;
		}
		&::before{
			background-color: $background-color-secondary;
		}
	}
	& .menu {
		&__body {
			color: $text-color-links;
		}
		&__link {
			text-shadow: none;
			transition: color .2s, background-color .2s;
			&:hover,
			&:active,
			&.active {
				background-color: rgba($color: $background-color-secondary, $alpha: 1);
				color: $text-color-secondary;
				border: 1px solid transparent;
			}
		}
		&__icon {
			& span,
			&::before,
			&::after {
				background: $background-color-other-1;
				transition: top 0.4s, bottom 0.4s, right .2s ease, transform 0.4s;
			}
			&._active {
				& span {
					right: -150%;
				}
			}
		}
	}
}

