.page{
	//@include adaptiveValue("padding-top",$header-height-pc ,$header-height-mob, 768, 320, 1 );
}

.hero {
	position: relative;
	//@include adaptiveValue("padding-top",$header-height-pc ,$header-height-mob, 1200, 320, 1 );
	// .hero__video
	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
		background-attachment: fixed;
		//height: calc(100% - rem($header-height-pc));
		transition: opacity .5s ease;
		opacity: .6;
		//background-color: $background-color-other-1;
		& video {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			//filter: grayscale(1);
			
		}
	}
	// .hero__outerContainer
	&__outerContainer {
	}
	// .hero__innerContainer
	&__innerContainer {
	}
	// .hero__content
	&__content {
		@include adaptiveValue("padding-top",$header-height-pc ,$header-height-mob, 1200, 320, 1 );
		height: 100vh;
		min-height: -webkit-fill-available;
		min-height: 550px;
		display: flex;
		align-items: center;
		@media (max-width:$mobile){
			height: calc(100vh - rem($header-height-mob));
			align-items: flex-end;  
		}
	}
	// .hero__offer
	&__offer {
	}
}
.video {
	
	// .video__box
	&__box {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.offer {
	position: relative;
	max-width: rem(850);
	padding: rem(50) rem(0);
	width: 100%;
	
	@media (max-width:$mobile){
		text-align: center; 
	}
	// .offer__title
	&__title,
	&__subtitle {
		opacity: 1;
		transition: opacity 1s ease;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(15);
		row-gap: rem(40);
		@media (max-width:$mobile){
			 justify-content: center; 
		}
	}

	// .offer__button
	&__button {
		background-color:  transparent;
	}
}

.controls {
	display: none;
	@media (any-hover: hover){
		&:hover{
			
		}
	}
	@media (max-width: $mobile) {
		display: inline-block;
	}
	// .controls__box
	&__box {
		position: relative;
		@include adaptiveValue("width", 80, 50, 1200, 320, 1);
		@include adaptiveValue("height", 80, 50, 1200, 320, 1);
		border-radius: 10px;
		border: $border-color-button 1px solid;
		display: inline-block;
		@media (any-hover: hover){
			&:hover{
				//border: red 2px solid;
				// .controls__play
				& .controls__play svg path {	
					//fill: red;
					//stroke: $border-color-major;
				
				}
			}
		}
	}
// .controls__play
	&__play {
		position: absolute;
		width:100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		& svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			@include adaptiveValue("width", 80, 50, 1200, 320, 1);
			@include adaptiveValue("height", 80, 50, 1200, 320, 1);
			//margin-top: rem(-2);
			pointer-events: none;
			& path {
				fill: $background-color-major;
				transition: fill .2s ease;
			}
		}
	}
	&__pause {
		display: none;
		position: absolute;
		width:100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		& svg {
			position: absolute;
			@include adaptiveValue("width", 50, 30, 1200, 320, 1);
			@include adaptiveValue("height", 50, 30, 1200, 320, 1);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
			& rect {
				fill: $background-color-major;
				transition: fill .2s ease;
			}
		}
	}
}

//-------------------algorithm----------------------

.algorithm {
	// .algorithm__title
	&__title {
	}
	// .algorithm__steps
	&__steps {
	}
}

.steps {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
	gap: rem(30);
	counter-reset: steps;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom",150, 50, 1200, 320, 1 );
	}
	@media (max-width:$mobileSmall){
		grid-template-columns: repeat(auto-fit, minmax(rem(190), 1fr));
		gap: rem(20);  
	}
	&._watcher-view {
		.steps__item {
			opacity: 1;
			&:first-child{
				transition: opacity .2s .1s;
				animation: shake 3s .1s both ease-in;
			}
			&:nth-child(2){
				transition: opacity .2s .4s;
				animation: shake 3s .4s both ease-in;
			}
			&:nth-child(3){
				transition: opacity .2s .7s;
				animation: shake 3s .7s both ease-in;
			}
			&:nth-child(4){
				transition: opacity .2s 1s;
				animation: shake 3s 1s both ease-in;
			}
			&:nth-child(5){
				transition: opacity .2s 1.3s;
				animation: shake 3s 1.3s both ease-in;
			}
		}
		.steps__name {

		}
		.steps__desc {
			// transform: translateY(0);
			// &:first-child{
			// 	transition: transform 1s .1s;
			// }
			// &:nth-child(2){
			// 	transition: transform 1s .3s;
			// }
			// &:nth-child(3){
			// 	transition: transform 1s .5s;
			// }
			// &:nth-child(4){
			// 	transition: transform 1s .7s;
			// }
			// &:nth-child(5){
			// 	transition: transform 1s .9s;
			// }
		}
	}
	// .step__item
	&__item {
		display: flex;
		flex: 1 1 20%;
		height: rem(100%);
		@include adaptiveValue("min-height",300 , 150, 1200, 320, 1 );
		//min-height: rem(300);
		
		//border: 2px solid $border-color-other-2;
		//background: rgba($color: $background-color-menu, $alpha: 1);
		//box-shadow: -3px -3px 6px #FFFFFF, 3px 3px 8px rgba(174, 174, 192, 0.4);
		border-radius: 5px;
		text-align: center;
		justify-content: center;
		//padding: rem(15);
		position: relative;
		counter-increment: steps;
		overflow: hidden;
		opacity: 0;
		cursor: default;
		//background: rgba($color: $background-color-major, $alpha: 1);
		//border: 3px solid rgba($color: $border-color-other-2, $alpha: .1);
		//backdrop-filter: blur(10px);

		&::before{
			content: counter(steps);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include adaptiveValue("font-size", 300, 220, 1200, 320, 1 );
			font-family: $font-family-other-1;
			color: rgba($color: $text-color-major, $alpha: .07);
			//z-index: 1;

		}
		@media (max-width:$mobile){
			//padding: rem(30) rem(10);
			//min-height: rem(150);
		}

	}
	// .step__card
	&__card {
		display: flex;
		flex-direction: column;
		position: relative;
		color: $text-color-major;
		//box-shadow: inset 1px 1px 8px rgb(206, 206, 206), inset -2px -2px 5px rgb(255, 255, 255);
		//background: rgba($color: rgb(235, 235, 235), $alpha: 1);
		
		padding: rem(50) rem(10);
		//border-radius: 10px;
		// @media (any-hover: hover){
		// 	&:hover{
		// 		animation: shake 5s 0s both ease-in;
		// 	}
		// }
	}
	// .step__numb
	&__numb {

	}
	// .step__name
	&__name {
		font-family: $font-family-other-1;
		@include adaptiveValue("font-size", 24 , 16, 1200, 320, 1 );
		line-height: math.div(40 ,26 );
		text-transform: uppercase;
		margin-bottom:  rem(30);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15, 1200, 320,1);
		}
	}
	// .step__desc
	&__desc {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		justify-content: center;
		@include adaptiveValue("font-size", 20, 16,1200, 320, 1 );
		line-height: math.div(30,22 );
		letter-spacing: -0.5px;

		& .cont {
		}
	}
}

.algorithm__button {
	display: block;
	text-align: center;
}

//-------------------capability----------------------

.capability {
	position: relative;
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('@img/contentImgs/cover_knowleges.jpg') center center / cover fixed no-repeat;
		opacity: .4;
		filter: blur(2px);
	}
		
	// .capability__content
	&__content {
		position: relative;
		
	}
	// .capability__innerContainer
	&__innerContainer {
	}
	// .capability__title
	&__title {
	}
	// .capability__text
	&__text {
		& p {
			line-height: math.div(32 , 22);
			text-align: justify;
			//font-weight: 500;
			@include adaptiveValue("font-size", 22, 14, 1200, 320, 1 );
			span {
				font-weight: 600;
				color: $text-color-accent;
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",80 , 50, 1200, 320, 1 );
		}
		& p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom",80 , 50, 1200, 320, 1  );
			}
		}

	}
	// .capability__specialties
	&__specialties {
	}
	// .capability__offer
	&__offer {
	}
}

.specialties {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
	gap: rem(5);
	//border-radius: 5px;
	overflow: hidden;
	cursor: default;
	margin: rem(0) rem(-5);
	padding: rem(0) rem(5);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom",80 , 50, 1200, 320, 1 );
	}
	@media (max-width:$mobileSmall){
		grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
		max-height: 350px;
		overflow-y: auto;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: 2px solid $border-color-other-3;
		border-bottom: 2px solid $border-color-other-3;
		//border-radius: 10px;
	}
	// .specialties__item
	&__item {
		border-radius: 5px;
		background: rgba($color: rgb(221, 221, 221), $alpha: .2);
		
	//	background: #F0F0F0;
		//box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
		//box-shadow: -1px -1px 2px rgb(139, 139, 139), 5px 5px 6px rgba(0, 0, 0, 0.4);
		//box-shadow: inset 2px 2px 5px #9C9C9C, inset -1px -1px 4px #FFFFFF;
		//border-radius: 10px;
		@include adaptiveValue("height", 60, 40, 1200, 320, 1);
		font-family: $font-family-other-1;
		font-weight: 400;
		@include adaptiveValue("font-size", 18 , 12, 1200, 320, 1 );
		line-height: math.div(26 ,20 );
		text-transform: uppercase;
		//color: $text-color-major;
		color: #ffffff;
		backdrop-filter: blur(10px);
		border: 1px solid #ffffff;
		padding: rem(5) rem(15);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 25%;
		opacity: 0; 
		//pointer-events: none;
		overflow: hidden;
		//max-width: rem(350);
		transition: opacity .1s;
		@media (max-width:$mobile){
			//border-radius: 7px; 

		}
		@media (any-hover: hover){
			&:hover{
			animation: shake2 4s 0s both ease-in;
			}
		}
		&._watcher-view {
			opacity: 1;
			transition: opacity .1s;
		}
	}
}
.capability-offer {
	display: flex;
	justify-content: center;
	gap: rem(40);
	flex-wrap: wrap;


	// .capability-offer__proposition
	&__proposition {

	}
	// .capability-offer__button
	&__button {
		@media (max-width:$mobile){
			flex: 1 0 100%;
		}
		
	}
}

//-------------------consult----------------------

.consult {
	position: relative;
	z-index: 2;
	// .consult__outerContainer
	&__outerContainer {
	}
	// .consult__innerContainer
	&__innerContainer {
	}
	// .consult__title
	&__title {

	}
	// .consult__content
	&__content {
		display: flex;
		flex: 1 0 100%;
		gap: rem(50);
		flex-wrap: wrap-reverse;
		@media (max-width:$mobile){
			 justify-content: center; 
		}
	}

	&__left {
		width: 50%;
		padding-right: rem(50);
		@media (max-width:$mobile){
			width: 100%;
			padding-right:  rem(0);
		}
		
	}

	&__right {
		position: absolute;
		max-width: rem(700);
		max-height: rem(1000);
		top: rem(0);
		bottom: rem(0);
		left: 50%;
		right: rem(0);
		//filter: drop-shadow(0px 0px 2px rgb(230, 230, 230)) drop-shadow(3px 3px 7px rgb(150, 150, 150));
		@media (max-width:$mobile){
			position: initial;
			margin-top: rem(-50);
			width: 100%;
			height: rem(550);
			max-width: rem(550);
			
		}
	}
	// .consult__form-block
	&__form-block {
		width: 100%;
		max-width: rem(500);
		///border-radius: 5px;
		@media (max-width:$mobile){
			margin: 0 auto;
	  }
	}
	// .consult__proposition
	&__proposition{
		font-weight: 600;
		& span {
			color: $text-color-major;
		}	
	}
	// .consult__form
	&__form {
		
	}
	// .consult__photo-block
	&__photo-block {
	}
}

.form {
	// .form__item
	&__item {
	}
	// .form__input
	&__input {
	}
	// .form__submit
	&__submit {
	
			

		// .form__submit_consult
		&_consult {
		}
	}
}
.form-consult {

}

.photo-block {
	position: relative;
	
			//width: 100%;
	height: 100%;
	// .photo-block__photo
	&__photo {
		//border: 2px solid $border-color-other-3;
		//border-radius: 5px;
		//width: 100%;
		height: 100%;
		//z-index: -1;
	
		& img {
			//border-radius: 5px;
			-webkit-mask-image:-webkit-radial-gradient(center, ellipse closest-side, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
      	//mask-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
		}
	}
	// .photo-block__card
	&__card {
		position: absolute;
		bottom: rem(20);
		left: 0;
		background-color: rgba($color: #ffffff, $alpha: .3);
		backdrop-filter: blur(10px);
		border-radius: 5px;
		width: 100%;
		@media (max-width:$mobile){
			bottom: rem(0);  
		}
		
	}
	// .photo-block__name
	&__name {
		display: block;
		//padding: rem(15);
		line-height: 2;
		//@include adaptiveValue("padding",20 ,10, 1200, 320, 1 );
		padding-left: 10%;
		//line-height: rem(70);
		background: rgba($color: $background-color-other-1, $alpha: .9);
		color: $text-color-secondary;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		font-weight: 600;
		@include adaptiveValue("font-size", 32, 20, 1200, 320, 1);
	}

	&__caption {
		padding: rem(20);
		padding-left: 10%;
		@include adaptiveValue("font-size", 22, 14, 1200, 320, 1);
		line-height: math.div(26 , 22);
	}

	// .photo-block__occupation
	&__occupation {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// .photo-block__position
	&__position {
	}
}

//-------------------partners----------------------

.partners {
	position: relative;
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('@img/contentImgs/cover_partners.jpg') center center / cover fixed no-repeat;
		opacity: .4;
		filter: blur(2px);
	}
	// .partners__outerContainer
	&__outerContainer {
	}
	// .partners__innerContainer
	&__innerContainer {
	}
	// .partners__title
	&__title {
	}
	// .partners__content
	&__content {
		position: relative;
		text-align: justify;
	}
	// .partners__text
	&__text {
		line-height: math.div(36 , 24);
		text-align: justify;
		@include adaptiveValue("font-size", 24, 14, 1200, 320, 1 );
		span {
			font-weight: 600;
			color: $text-color-accent;
		}
		&:not(:last-child) {
			margin-bottom:  rem(80);
		}
	}
	// .partners__paragraph
	&__paragraph {
		
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}
	// .partners__form-block
	&__form-block {

	}
	// .partners__proposition
	&__proposition {

	}
	// .partners__form
	&__form {
	}
}

.form-partners {
	// .form__item
	&__item {
	}
	// .form__input
	&__input {
	}
	// .form__submit
	&__submit {
		width: 30%;
		display: inline-block;
		// .form__submit_partners
		&_partners {
		}
	}
}

