.page{
	@include adaptiveValue("padding-top",$header-height-pc ,$header-height-mob, 768, 320, 1 );
}

.hero {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('@img/contentImgs/cover_hero.jpg') center center / cover no-repeat;
		filter: grayscale(.7) brightness(.7) contrast(.9);
	}
	// .hero__video
	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
		//background-color: $background-color-other-1;
		& video {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			filter: grayscale(.7) brightness(.7);
			
		}
	}
	// .hero__outerContainer
	&__outerContainer {
	}
	// .hero__innerContainer
	&__innerContainer {
	}
	// .hero__content
	&__content {
		height: calc((var(--vh, 1vh) * 100) - rem($header-height-pc));
		min-height: 550px;
		display: flex;
		align-items: center;
		@media (max-width:$mobileSmall){
			height: calc((var(--vh, 1vh) * 100) - rem($header-height-mob));
			//min-height: 100vh;
			min-height: -webkit-fill-available;
		}
	}
	// .hero__offer
	&__offer {
	}
}
.video {
	
	// .video__box
	&__box {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.offer {
	position: relative;
	max-width: rem(850);
	padding: rem(50) rem(0);
	width: 100%;
	@media (max-width:$mobile){
		text-align: center; 
	}
	// .offer__title
	&__title,
	&__subtitle {
		opacity: 1;
		transition: opacity 1s ease;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(15);
		row-gap: rem(40);
		@media (max-width:$mobile){
			 justify-content: center; 
		}
	}

	// .offer__button
	&__button {
		display: inline-block;
		& span {
			position: absolute;
			background: #fff;
			transform: translate(-50%, -50%);
			pointer-events: none;
			border-radius: 50%;
			animation: ripplesAnimate .5s linear;
		}
	}
}

.controls {
	display: none;
	@media (any-hover: hover){
		&:hover{
			
		}
	}
	@media (max-width: $mobile) {
		display: inline-block;
	}
	// .controls__box
	&__box {
		position: relative;
		@include adaptiveValue("width", 80, 50);
		@include adaptiveValue("height", 80, 50);
		border-radius: 10px;
		border: $border-color-button 1px solid;
		display: inline-block;
		@media (any-hover: hover){
			&:hover{
				//border: red 2px solid;
				// .controls__play
				& .controls__play svg path {	
					//fill: red;
					//stroke: $border-color-major;
				
				}
			}
		}
	}
// .controls__play
	&__play {
		position: absolute;
		width:100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		& svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			@include adaptiveValue("width", 80, 50);
			@include adaptiveValue("height", 80, 50);
			//margin-top: rem(-2);
			pointer-events: none;
			& path {
				fill: $background-color-major;
				transition: fill .2s ease;
			}
		}
	}
	&__pause {
		display: none;
		position: absolute;
		width:100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		& svg {
			position: absolute;
			@include adaptiveValue("width", 50, 30);
			@include adaptiveValue("height", 50, 30);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
			& rect {
				fill: $background-color-major;
				transition: fill .2s ease;
			}
		}
	}
}

.algorithm {
	// .algorithm__title
	&__title {
	}
	// .algorithm__steps
	&__steps {
	}
}

.steps {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
	//flex-wrap: wrap;
	gap: rem(30);
	&:not(:last-child) {
		margin-bottom:  rem(150);
	}
	// .step__item
	&__item {
		display: flex;
		flex: 1 1 20%;
		height: rem(100%);
		min-height: rem(200);
		background-color: $background-color-menu;
		box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(174, 174, 192, 0.4);
		border-radius: 10px;
		text-align: center;
		padding: rem(50) rem(15);
	}
	// .step__card
	&__card {
		display: flex;
		flex-direction: column;
	}
	// .step__name
	&__name {
		font-family: $font-family-other-1;
		font-weight: 400;
		@include adaptiveValue("font-size", 26 , 20, 1200, 320, 1 );
		line-height: math.div(40 ,26 );
		text-transform: uppercase;
		color: $text-color-major;
		margin-bottom:  rem(30);
	}
	// .step__desc
	&__desc {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		justify-content: center;
		@include adaptiveValue("font-size", 22, 18,1200, 320, 1 );
		line-height: math.div(30,22 );
		letter-spacing: -0.5px;
		& .cont {
		}
	}
}

.algorithm__button {
	display: block;
	text-align: center;
}

