.hero {
	background-color: rgba($color: $background-color-secondary, $alpha: 1);
	// .hero__video
	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
		//height: calc(100% - rem($header-height-pc));
		
		&::after{
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba($color: $background-color-other-1, $alpha: 1);
			opacity: .0;
			transition: opacity .5s;
		}
		& video {
			width: 100%;
			height: 100vh;
			max-height: rem(1000);
			top: 0%;
			left: 0%;
			object-fit: cover;
			@media (max-width:$mobile){
				height: calc(100vh - rem($header-height-mob));
			}
		}
	}
	&__map{
	}
	// .hero__outerContainer
	&__outerContainer {
		position: relative;
	}
	// .hero__innerContainer
	&__innerContainer {
	}
	// .hero__content
	&__content {
		@include adaptiveValue("padding-top",$header-height-pc ,$header-height-mob, 0, 1200);
		max-height: rem(1000);
		height: 100vh;
		min-height: -webkit-fill-available;
		min-height: 550px;
		display: flex;
		align-items: center;
		//justify-content: center;
		@media (max-width:$mobile){
			height: calc(100vh - rem($header-height-mob));
			align-items: flex-end;  
		}
	}
	// .hero__offer
	&__offer {
	}
}

.hero._video_played{
	& .video::after{
		opacity: 0;
		transition: opacity 1s;
	}
	& .hero-map__box{
		transform: scale(2);
		opacity: 0;
		transition: transform .3s linear, opacity .25s linear;
	}
	& .offer__title, .offer__subtitle{
		transform: translateX(-200%);
		transition: transform .3s ease;
	}
}

.hero-map{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	&__box{
		position: relative;
		width: 100%;
		height: 100%;
		max-width: rem(800);
		top: 0;
		left: 0;
		transform: translate(0, 0);
		margin-left: auto;
		background: url('@img/EU_map.png') center center/contain no-repeat;
		transition: transform .3s, opacity .15s;
		opacity: 1;
		@media (max-width:$mobile){
			background: url('@img/EU_map.png') center top/cover no-repeat; 
		}
		@media (any-hover: hover){
			&:hover{
				transform: scale(1.01);
				transition: transform .3s;
			}
		}
	}
}

.video {
	// .video__box
	&__box {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

.offer {
	position: relative;
	max-width: rem(850);
	padding: rem(80) rem(0) rem(110);
	width: 100%;
	//text-align: center; 
	@media (max-width:$mobileSmall){
		text-align: center; 
	}
	&__text {
		@include adaptiveValue("padding", 25 , 10, 0, 1200);
		background-color: rgba($color: #fff, $alpha: .1);
		backdrop-filter: blur(10px);
		border-radius: 7px;
		border: 1px solid;
		border-color: rgba($color: $border-color-major, $alpha: .3) ;
		&:not(:last-child) {
			margin-bottom:  rem(60);
			@media (max-width:$mobile){
				margin-bottom:  rem(40);
				font-weight: 500;  
			}
		}
	}
	// .offer__title
	&__title,
	&__subtitle {
		//text-align: justify;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
		transition: transform .35s ease;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		//justify-content: center;
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
		@media (max-width:$mobileSmall){
			 justify-content: center; 
		}
	}

	// .offer__button
	&__button {
		background-color:  transparent;
		@media (max-width: $mobileSmall){
			width: 100%;
		}	
	}
}

.controls {
	margin-left: rem(15);
	@media (max-width: $mobileSmall) {
		margin-left: rem(0);
		margin-top: rem(30);
	}
	// .controls__box
	&__box {
		position: relative;
		@include adaptiveValue("width", 75, 50, 0, 1200);
		@include adaptiveValue("height", 75, 50, 0, 1200);
		border-radius: 7px;
		border: $border-color-button 1px solid;
		display: inline-block;
		cursor: pointer;
		transition: transform .1s;
		@media (any-hover: hover){
			&:hover{
				border: $border-color-other-3 2px solid;
				transform: scale(1.05);
				transition: transform .1s;

			}
		}
		&:active{
			border: $border-color-other-3 2px solid;
			transform: scale(1.1);
			transition: transform .2s;
		}
	}
// .controls__play
	&__play {
		position: absolute;
		width:100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		& svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			@include adaptiveValue("width", 80, 50, 0, 1200);
			@include adaptiveValue("height", 80, 50, 0, 1200);
			pointer-events: none;
			& path {
				fill: $background-color-major;
				transition: fill .2s ease;
			}
		}
	}
	&__pause {
		display: none;
		position: absolute;
		width:100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		& svg {
			position: absolute;
			@include adaptiveValue("width", 50, 30, 0, 1200);
			@include adaptiveValue("height", 50, 30, 0, 1200);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
			& rect {
				fill: $background-color-major;
				transition: fill .2s ease;
			}
		}
	}
}

//-------------------algorithm----------------------

.algorithm {
	// .algorithm__outerContainer
	&__outerContainer {
	}
	// .algorithm__innerContainer
	&__innerContainer {
	}
	// .algorithm__title
	&__title {
	}
	// .algorithm__content
	&__content {
	}
	// .algorithm__steps
	&__steps {
	}
	// .algorithm__button
	&__button {
		text-align: center;
	}
}

.steps {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
	grid-gap: rem(30);
	counter-reset: steps;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom",150, 50, 0, 1200);
	}
	@media (max-width:$mobileSmall){
		grid-template-columns: repeat(auto-fit, minmax(rem(190), 1fr));
		grid-gap: rem(20); 
	}
		&__item.aos-animate {
			&:first-child{
				animation: shake 3s 0s both ease-in;
			}
			&:nth-child(2){
				animation: shake 3s .2s both ease-in;
			}
			&:nth-child(3){
				animation: shake 3s .3s both ease-in;
			}
			&:nth-child(4){
				animation: shake 3s .4s both ease-in;
			}
			&:nth-child(5){
				animation: shake 3s .5s both ease-in;
			}
		
	}
	// .steps__item
	&__item {
		display: flex;
		flex: 1 1 20%;
		height: rem(100%);
		@include adaptiveValue("min-height",300 , 150, 0, 1200);
		border-radius: 5px;
		text-align: center;
		justify-content: center;
		position: relative;
		counter-increment: steps;
		overflow: hidden;
		opacity: 0;
		cursor: default;
		&::before{
			content: counter(steps);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include adaptiveValue("font-size", 300, 220, 0, 1200);
			font-family: $font-family-other-1;
			color: rgba($color: $text-color-major, $alpha: .07);
		}
	}
	// .steps__card
	&__card {
		display: flex;
		flex-direction: column;
		position: relative;
		color: $text-color-major;
		padding: rem(50) rem(10);
		@media (any-hover: hover){
			&:hover{
			animation: shake2 4s 0s both ease-in;
			}
		}
	}
	// .steps__name
	&__name {
		font-family: $font-family-other-1;
		@include adaptiveValue("font-size", 24 , 16, 0, 1200);
		line-height: math.div(40 ,26 );
		text-transform: uppercase;
		margin-bottom:  rem(30);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15, 0, 1200);
		}
	}
	// .steps__desc
	&__desc {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		justify-content: center;
		@include adaptiveValue("font-size", 20, 16, 0, 1200);
		line-height: math.div(30,22 );
		letter-spacing: -0.5px;
	}
}


//-------------------capability----------------------

.capability {
	position: relative;
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('@img/contentImgs/cover_knowleges.jpg') center center / cover no-repeat;
		background-attachment: fixed;
		opacity: .2;
		filter: saturate(0);
	}
		
	// .capability__content
	&__content {
		position: relative;
		
	}
	// .capability__innerContainer
	&__innerContainer {
	}
	// .capability__title
	&__title {
	}
	// .capability__text
	&__text {
		& p {
			line-height: math.div(32 , 22);
			text-align: justify;
			@include adaptiveValue("font-size", 22, 14, 0, 1200);
			span {
				font-weight: 600;
				color: $text-color-accent;
			}
		}

		& p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom",50 , 30, 0, 1200);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",80 , 50, 0, 1200);
		}
	}
	// .capability__specialties
	&__specialties {
	}
	// .capability__offer
	&__offer {
	}
}

.specialties {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
	grid-gap: rem(5);
	overflow: hidden;
	cursor: default;
	margin: rem(0) rem(-5);
	padding: rem(0) rem(5);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom",80 , 50, 0, 1200);
	}
	@media (max-width:$mobileSmall){
		grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
	}
	// .specialties__item
	&__item {
		border-radius: 5px;
		background-color: rgba($color: $background-color-major, $alpha: .3);
		backdrop-filter: blur(10px);
		@include adaptiveValue("height", 60, 40, 0, 1200);
		font-family: $font-family-other-1;
		@include adaptiveValue("font-size", 18 , 12, 0, 1200);
		line-height: math.div(26 ,20 );
		text-transform: uppercase;
		//color: $text-color-major;
		color: $text-color-secondary;
		border: 1px solid $border-color-major;
		padding: rem(5) rem(15);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 25%;
		@media (any-hover: hover){
			&:hover{
				animation: shake2 4s 0s both ease-in;
			}
		}
	}
}
.capability-offer {

	// .capability-offer__proposition
	&__proposition {

	}
	// .capability-offer__button
	&__button {
		text-align: center;
	}
}

//-------------------consult----------------------

.consult {
	position: relative;
	z-index: 2;
	// .consult__outerContainer
	&__outerContainer {
		position: relative;
	}
	// .consult__innerContainer
	&__innerContainer {
		
	}
	// .consult__title
	&__title {

	}
	// .consult__content
	&__content {
		display: flex;
		flex: 1 0 100%;
		flex-wrap: wrap;
		@media (max-width:$tablet){
			justify-content: center; 
		}
	}

	&__left {
		width: 45%;
		@include adaptiveValue("margin-right", 50, 30, 2, 1200, 992);
		@include adaptiveValue("margin-bottom", 50 , 30, 1, 992);
		@media (max-width:$tablet){
			width: 100%;
			padding-right:  rem(0);
		}
	}

	&__right {
		position: absolute;
		width: 50%;
		height: 100%;
		max-height: rem(1000);
		top: 0;
		right: rem(15);
		@media (max-width:$tablet){
			position: initial;
			width: 100%;
			@include adaptiveValue("height",600 ,350, 0, 768);
		}
	}
	// .consult__form-block
	&__form-block {
		width: 100%;
		@media (max-width:$tablet){
			max-width: rem(577);
			margin: 0 auto;
	  	}
	}
	// .consult__proposition
	&__proposition{
		font-weight: 600;
		& span {
			color: $text-color-major;
		}	
	}
	// .consult__form
	&__form {

	}
	// .consult__photo-block
	&__photo-block {
	}
}


.photo-block {
	position: relative;
	height: 100%;
	// .photo-block__photo
	&__photo {
		height: 100%;
		& img {
			object-fit: contain;
			@media (max-width:$mobile){
				height: auto; 
				top: 0;
			}

		}
	}
	// .photo-block__card
	&__card {
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translate(-50%);
		text-align: center;
		max-width: rem(600);
		width: 100%;
		padding: rem(20);
		background-color: rgba($color: #fff, $alpha: .1);
		backdrop-filter: blur(10px);
		border-radius: 7px;
		border: 1px solid;
		border-color: rgba($color: $border-color-major, $alpha: .8) ;
		@media (max-width:$mobile){
			bottom: rem(0);  
		}
		
	}
	// .photo-block__name
	&__label {
		display: block;
		line-height: 1.1;
		margin: 0 auto;
		color: red;
		font-weight: 700;
		@include adaptiveValue("font-size", 32, 20, 0, 1200);
		&:not(:last-child) {
			margin-bottom:  rem(20);
		}
	}

	&__tel {

	}

}

.tel-block {
	// .tel-block_consult
	&_consult {
			// .tel-block__list
		& .tel-block__list {
			grid-template-columns: repeat(4, auto);
			justify-content: center;
			@include adaptiveValue("grid-gap", 30, 15, 0, 1200);
			&:not(:last-child) {
				@include adaptiveValue("margin-left", 30, 0, 15, 1200);
				margin-bottom: rem(20);
			}
		}
		// .tel-block__list-item
		& .tel-block__list-item {
		}
		// .tel-block__link
		& .tel-block__link {
			@include adaptiveValue("width", 50 , 30 , 0, 1200);
			@include adaptiveValue("height", 50 , 30 , 0, 1200);
			// .tel-block__link_whatsapp
			&_whatsapp {
			}
			// .tel-block__link_viber
			&_viber {
			}
			// .tel-block__link_telegram
			&_telegram {
			}
		}
		// .tel-block__tel
		& .tel-block__tel {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			@include adaptiveValue("font-size", 55, 30, 0, 1200);
			font-weight: 700;
			letter-spacing: -2px;
			transition: color .2s;
			&:hover{
				color: $background-color-other-2;
				transition: color .2s;
			}
			&:not(:last-child) {
				margin-bottom:  rem(20);
			}
			& small {
				@include adaptiveValue("font-size", 35, 20, 0, 1200);
				font-weight: 400;
				line-height: 1.15;
			}
		}
	}
}


//-------------------partners----------------------

.partners {
	position: relative;
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('@img/contentImgs/cover_partners.jpg') center center / cover no-repeat;
		background-attachment: fixed;
		opacity: .2;
		filter: saturate(0);
	}
	// .partners__outerContainer
	&__outerContainer {
	}
	// .partners__innerContainer
	&__innerContainer {
	}
	// .partners__title
	&__title {
	}
	// .partners__content
	&__content {
		position: relative;
		text-align: justify;
	}
	// .partners__text
	&__text {
		line-height: math.div(36 , 24);
		text-align: justify;
		@include adaptiveValue("font-size", 24, 14, 0, 1200);
		span {
			font-weight: 600;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",80, 50, 0, 1200);
		}
	}
	// .partners__paragraph
	&__paragraph {
		
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",50, 30, 0, 1200);
		}
	}
	// .partners__form-block
	&__form-block  {

	 
	}
	// .partners__proposition
	&__proposition {

	}
	// .partners__form
	&__form {
	}
}

.form-partners {
	// .form__item
	&__item {
	}
	// .form__input
	&__input {
	}
	// .form__submit
	&__submit {
		// .form__submit_partners
		&_partners {
		}
	}
}

//--------about---------------------
.about {
	// .about__content
	&__content {
	}
	// .about__text
	&__text {
		line-height: math.div(36 , 24);
		text-align: justify;
		@include adaptiveValue("font-size", 24, 14, 0, 1200);
		& p {
			& span {
				font-weight: 600;
			}
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom",50, 30, 0, 1200);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",80, 50, 0, 1200);
		}
	}
	// .about__counters
	&__counters {
	}
}

.counters {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
	grid-gap: rem(30);
	// .counters__item
	&__item {
		display: flex;
		flex-direction: column;
		flex: 1 1 20%;
		height: rem(100%);
		@include adaptiveValue("min-height",200 , 100, 0, 1200);
		text-align: center;
		justify-content: center;
		font-weight: 600;
	}
	// .counters__digits
	&__digits {
		@include adaptiveValue("font-size", 72 , 56, 0, 1200);
		line-height: math.div(72 ,72);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",30, 10, 0, 1200);
		}
		& .digit {
			display: inline-block;

		}
	}
	// .counters__desc
	&__desc {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		justify-content: center;
		align-self: center;
		@include adaptiveValue("font-size", 22, 14, 0, 1200);
		line-height: math.div(30,22 );
		letter-spacing: -0.5px;
		max-width: rem(300);
	}
}

//--------contacts---------------------

.contacts {
	position: relative;
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('@img/contentImgs/cover_inTouch2.jpg') center right/ cover no-repeat;
		background-attachment: fixed;
		opacity: .2;
		filter: saturate(0);
	}
	// .contacts__outerContainer
	&__outerContainer {
	}
	// .contacts__innerContainer
	&__innerContainer {
	}
	// .contacts__title
	&__title {
	}
	// .contacts__content
	&__content {
		position: relative;
		text-align: justify;
	}
	// .contacts__form-block
	&__form-block {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom",80 , 50, 0, 1200);
		}
	}
	// .contacts__proposition
	&__proposition {
	}
	// .contacts__form
	&__form {
	}
	// .contacts__subscribe
	&__subscribe {
	}
}

.form-contacts {
	// .form__item
	&__item {
	}
	// .form__input
	&__input {
	}
	// .form__submit
	&__submit {

		// .form__submit_partners
		&_contacts {
		}
	}
}

.contacts-subscribe {

	// .contacts-subscribe__heading
	&__text {
		line-height: math.div(36 , 24);
		text-align: justify;
		@include adaptiveValue("font-size", 24, 14, 0, 1200);
		& > p {
			& span {
				font-weight: 600;
			}
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 80 , 50, 0, 1200);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80 , 50, 0, 1200);
		}
	}
	// .contacts-subscribe__links
	&__links {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		& .contacts-subscribe__call {
			@include adaptiveValue("margin-left", 50, 10, 2, 1200, 577);
			@include adaptiveValue("margin-right", 50, 10, 2, 1200, 577);
			@media (max-width: $mobileSmall){
				margin: 0 0 rem(30);
				width: 100%;				  
			}
		}
		&:not(:last-child) {

		}
		@media (max-width:$mobileSmall){
			justify-content: space-around;
			&:not(:last-child) {
			}
	  	}
	}
	// .contacts-subscribe__link
	.socials__link {
		@include adaptiveValue("width",100 ,70, 0, 768);
		@include adaptiveValue("height",100 ,70, 0, 768);
		@media (max-width:$mobileSmall){
			order: 2;
	  	}
	}
	// .contacts-subscribe__text
	&__call {
		text-transform: uppercase;
		@include adaptiveValue("font-size", 36, 20, 0, 1200);
		line-height: math.div(36 , 36);
		font-weight: 600;
		text-align: center;
		@media (max-width:$mobileSmall){
			flex: 1 1 100%; 
			order: 1;
	  	}
	}
}




