//актуализирован 26/06/22 - дефолтные стили форм и папапов
//актуализирован 10/08/22 - общая ревизия

// ================================= GLOBAL roots ================================= 

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: 1920; // Ширина ограничивающего контейнера (0 = нет ограничения)
$innerWidthContainer: 1400; // контейнер для внутреннего контента
$containerPadding: 30; // Общий отступ у контейнера (30 = по 15px слева и справа, 0 = нет отступа)
$scrollbarWidth: 16px; //ширина скроллбара браузера для коррекции (16рх)
$overlayZindex: 149; //индекс глобального оверлея

// ================================= CONTEINER roots =================================
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении 720
$mobile: em(767.98); // Телефоны L 540
$mobileSmall: em(576.98); // Телефоны S padding: 15px

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ================================= FONT roots ================================= 

//font family
$font-family-major: 'Montserrat', sans-serif; //general document font family
$font-family-other-1: 'DaysOne', sans-serif; //element font family
//$font-family-other-2: 'Montserrat', sans-serif; //element font family

//font size
$font-size-major: rem(22); //general document font size
$font-size-main-title: rem(60); //main title font size (hero)
//$font-size-main-subtitle: rem(25); //main subtitle font size (hero)

$font-size-section-title: rem(38); //section title font size
//$font-size-section-subtitle: rem(25); //section subtitle font size

$font-size-menu-links-pc: 22; //header menu links on pc @media font size
$font-size-menu-links-mob: 18;  //header (burger) menu links on mobile @media font size

$font-size-btn-text: rem(22); //botton text font size
$font-size-links-text:  rem(22); //links text font size

//font weight
$font-weight-major: 400; //general document font weight

//letter spacing
$letter-spacing-major: 0em; //general document letter spacing
//font style
$font-style: normal;

// ================================== COLORS roots ==============================

//text colors
$text-color-major: rgba(30, 60, 120, 1); //general document text color
$text-color-secondary: rgba(255, 255, 255, 1);
$text-color-accent: rgba(255, 255, 255, 1);


$text-color-menu: rgba(30, 60, 120, 1); //menu links text color
$text-color-menu-active: rgba(255, 255, 255, 1); //active menu links text color

$text-color-btn: rgba(255, 255, 255, 1); //menu links text color
$text-color-btn-active: rgba(255, 255, 255, 1); //active menu links text color

$text-color-links:  rgba(30, 60, 120, 1); //a links text color
$text-color-links-active: rgba(30, 60, 120, 1); //a links text color

$text-color-other-1: rgba(255, 255, 255, 1); //other text color
$text-color-other-2: rgba(10, 250, 215, 1); //other text color/color hero title span
//$text-color-other-3: rgba(10, 250, 215, 1); //other text color

//bacground colors
$background-color-major: rgba(240, 240, 240, 1); //Цвет фона по умолчанию
$background-color-secondary:  rgba(30, 60, 120, 1); 
$background-color-menu: rgba(240, 240, 240, 1); //menu bcg 
$background-color-overlay-lock: rgba(0, 0, 0, .6); // overlays _lock
$background-color-button-major:   rgba(10, 180, 65, 1); //
$background-color-button-secondary:   rgba(10, 180, 65, 1); //
$background-color-button-active:rgba(30, 60, 120, 1); // 
$background-color-other-1: rgba(30, 60, 120, 1); // 
$background-color-other-2:  rgba(35, 155, 75, 1); // btn hover cover
$background-color-other-3: rgba(10, 180, 65, 1); // btn hover cover

// border colors
$border-color-major: rgba(220, 220, 220, 1); //Цвет границ по умолчанию
$border-color-button: rgba(255, 255, 255, 1);
//$border-color-other-1:  rgba(255, 255, 255, 1); 
//$border-color-other-2: rgba(27, 58, 119, 1); 
$border-color-other-3: rgba(10, 180, 65, 1);
//$borderColor5: ;


//================================== blockSizes roots ================================== 
// page blocks properties 
$header-height-pc: 75;
$header-height-mob: 50;

$footer-height-pc: 300;
$footer-height-mob: 300;


// default menu burger properties 
$menu-width: 360; // для % убрать rem()

// default button properties 
$button-width-pc: 500;
$button-width-mob: 290;

$button-height-pc: 75;
$button-height-mob: 50;

// default popup properties 
$popup-whidth: 550;

// default form properties  

// default input properties  
$input-height-pc: 75;
$input-height-mob: 50;
$input-border-radius: 5;
$input-padding: 20;
$input-color:  $text-color-major;
$input-background-color: rgba(230, 230, 230, 1);
$input-background-color-focus: rgba(255, 255, 255, 1);
$input-caret-color:  $text-color-major;
$input-placeholder-color: rgba(120, 120, 120, 1);
